 /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

 /* UTILS */

img {
    height: 100px;
    width: 100px;
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
}

/* main */

h1 {
    color: #e53170;
    font-weight: 700;
    font-size: 3rem;
}

h1,
p {
    text-align: center;
    margin: 30px 0;
}

h2 {
    color: #fefcf9;
    font-weight: 500;
}

.row {
    margin: 0 -1rem;

    /* bebug */
    height: 500px;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.col {
    float: left;
    height: 100%;
    padding: 1rem;
    width: calc(100% / 3);

    /* debug */
    background-color: aqua;
}

.card {
    margin: 1rem;
    background-color: #0f0e17;
}
